[credential]
	helper = cache
[credential "https://github.com"]
	username = robin-thoene
[user]
	name = Robin Thöne
	email = 110201991+robin-thoene@users.noreply.github.com
[core]
	editor = nvim
[init]
	defaultBranch = main
