@import "theme/colors.css";

* {
  border: none;
  border-radius: 7px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0px;
}

window#waybar {
  color: @text;
  background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 5px 5px 0px 5px;
  background-color: @base;
  border: 3px solid @lavender;
  padding: 3px 3px;
}

.modules-center,
.modules-right {
  padding: 3px 15px;
}

.modules-right *,
.modules-center * {
  margin: 0px 10px;
}

.modules-left button {
  margin: 0px 3px;
}

#workspaces button {
  color: @text;
  padding: 5px 5px;
}

#workspaces button:hover {
  background: @surface0;
  transition: none;
  box-shadow: none;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: @lavender;
  color: @crust;
}
