[Desktop Entry]

Type=Application
Version=1.0
Name=Logseq
Comment=Note taking tool
Exec=/home/robin/Applications/Logseq-linux.AppImage
Terminal=false
